<footer class="SiteFooter">
    <section class="Section Section--grayDark">
	<footer class="Container">
	    {{ partial "contact" . }}
	</footer>
    </section>
</footer>


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="module">
 import {{ "js/index.js" | relURL }}
</script>

