<header class="SiteHeader">
    <h1 class="SiteTitle">
	<a href="{{ .Site.BaseURL }}">
	    {{ .Site.Title }}
	</a>
    </h1>

    <nav class="SiteMenu">
	<nav-item class="SiteMenu-button">
	    <a href='{{ "/menu" | relURL }}'>
		Menu
	    </a>
	</nav-item>
    </nav>
</header>
