<header class="SiteHeader">
    <h1 class="SiteTitle">
	<a href="{{ .Site.BaseURL }}">
	    {{ .Site.Title }}
	</a>
    </h1>

    <nav class="SiteMenu">
	<nav-item {{if (and (.InSection .) (eq .IsHome false)) }}active{{end}} class="SiteMenu-button SiteMenu-button--home">
	    <a href='{{ "/" | relURL }}'>
		Menu
	    </a>
	</nav-item>
    </nav>
</header>
