{{ define "main" }}
<section class="Section Section--blue Section--100">
    <div class="Container">
	<h2 center class="Section-title">{{ .Title }}</h2>
	<div>
	    {{ .Content }}
	</div>
    </div>
    <div class="Grid Grid--4 Grid--top">
	{{ partial "grid-card-image" .Pages }}
    </div>
</section>

{{ $pagesTeakdecksSelbst := (where .Site.RegularPages "Section" "selbstmontage") }}
{{ with $pagesTeakdecksSelbst }}
<section class="Section">
    <div class="Container Container--small">
	<h2 center>Teakdecks Zur Selbstmontage</h2>
    </div>
    <div class="Container Grid Grid--2 Grid--top">
	{{ range $pagesTeakdecksSelbst }}
	<article class="Grid-item">
	    {{ partial "card-teak-selbstmontage" . }}
	</article>
	{{ end }}
    </div>
</section>
{{ end }}
{{ end }}
