{{ define "main" }}

<article class="Layout">
    <header class="Section">
	<h1 center class="Section-title">
	    {{ .Title }}
	</h1>
    </header>

    <main>
	{{ $gallery := .Params.gallery }}
	{{ if $gallery }}
	<section class="Section">
	    <image-gallery class="ImageGallery ImageGallery--home">
		{{ partial "image-gallery" $gallery }}
	    </image-gallery>
	</section>
	{{ end }}
	
	<section class="Section">
	    <div class="Container">
		{{ .Content }}
	    </div>
	</section>

	{{ $pagesProcessablauf := (where .Site.RegularPages "Section" "prozessablauf") }}
	{{ with $pagesProcessablauf }}
	<section class="Section Section--100 Container">
	    <h2 center class="Setion-title">Prozessablauf</h2>
	    <div class="Processes Processes--horizontal">
		{{ partial "process" . }}
	    </div>
	</section>
	{{ end }}
    </main>
</article>

{{ end }}
