<!DOCTYPE html>
<html lang="{{ .Language }}">
    {{- partial "site/head" . -}}
    <body>
	{{- block "header" . }}
        {{- partial "site/header" . -}}
	{{- end }}
        <main class="SiteMain">
            {{- block "main" . }}
	    {{- end }}
        </main>
	{{- block "footer" . }}
        {{- partial "site/footer" . -}}
	{{- end }}
    </body>
</html>
