{{- define "header" }}
{{- partial "site/header-menu" . -}}
{{- end }}

{{ define "main" }}
<nav class="SiteNav SiteNav--menu">
    {{ partial "site/nav.html" . }}
</nav>
{{ end }}

{{- define "footer" }}
<footer></footer>
{{- end }}
