{{ define "main" }}

{{ if $.Site.Data.uberuns }}
<section class="Section Section--100">
    <div class="Container">
	<h1 center class="Section-title">{{ $.Site.Data.uberuns.title }}</h1>
    </div>
    
    <image-gallery class="ImageGallery ImageGallery--home">
	{{ partial "image-gallery" $.Site.Data.uberuns.gallery }}
    </image-gallery>
</section>

<section class="Section">
    <div class="Container">
	{{ $.Site.Data.uberuns.body | markdownify }}
    </div>
</section>

{{ end }}

{{ end }}
