{{ define "main" }}

<section class="Section Container Grid Grid--4 Grid--top">
    <div class="Container">
	<h2 center class="Section-title">{{ .Title }}</h2>
	<div>
	    {{ .Content }}
	</div>
    </div>
    {{ range sort .Pages ".Params.number" "asc" }}
    <div class="Grid-item">
	<article class="Card">
	    <a href="{{ .Permalink }}">
		{{ if .Params.image }}
		<figure class="Card-image">
		    <img src="{{ .Params.image | absURL }}"/>
		</figure>
		{{ end }}
		<header class="Card-title" center>
		    <h3>
			{{ .Title }}
		    </h3>
		</header>
	    </a>
	</article>
    </div>
    {{ end }}
</section>

{{ end }}
