.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Grid.Grid--top {
    align-items: flex-start;
}
.Grid-item a {
    padding: 1rem;
    border: 0.2rem solid transparent;
    transition: border-color 100ms ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Grid-item h2 {
    margin-bottom: 0;
}

.Grid-item .Card-image {
    margin-top: 1rem;
}

.Grid-item a:hover {
    border-color: var(--color-blue);
}

@media (min-width: 25rem) {
    .Grid--3 .Grid-item {
	flex-basis: 33%;
    }
    .Grid--2 .Grid-item {
	flex-basis: 50%;
    }
    .Grid--4 .Grid-item {
	flex-basis: 50%;
    }
}

@media (min-width: 40rem) {
    .Grid--4 .Grid-item {
	flex-basis: 25%;
    }
}


/* grid inside an address */
address .Grid-item {
    padding: 1rem;
}
