/* image gallery */
.ImageGallery {
    display: block;
    height: auto;
}
.ImageGallery figure {
    padding: 1rem;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.ImageGallery figcaption {
    margin-top: 1rem;
    font-size: 1rem;
}

.ImageGallery.ImageGallery--home figure {
    
}
.ImageGallery img {
    max-height: 70vh;
    height: 100%;
}


/* flickity */
.flickity-button {
    background: transparent !important;
}
.flickity-prev-next-button {
    width: 4rem !important;
    height: 4rem !important;
}


/* gallery card */
.CardGallery {
    display: block;
    height: auto;
    width: 100%;
}
.CardGallery .Card {
    padding: 1rem;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

@media (min-width: 40rem) {
    .CardGallery .Card {
	width: 50%;
    }
}

@media (min-width: 60rem) {
    .CardGallery .Card {
	width: 25%;
    }
}

.CardGallery .Card a {
    padding: 1rem;
    border: 0.2rem solid transparent;
    transition: border-color 100ms ease-in-out;
}

.CardGallery .Card a:hover {
    border-color: var(--color-blue);
}

.CardGallery .Card-image {
    margin-bottom: 1rem;
}
.CardGallery .Card-title h3 {
    font-size: 1.2rem;
}
