.SiteHeader {
    background-color: var(--color-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;
}


.SiteMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.SiteTitle {
    position: fixed;
    top: 0.5rem;
    left: 0.3rem;
    z-index: 1;
    margin-bottom: 0;
}
@media (min-width: 40rem) {
    .SiteTitle {
	font-size: 2.4rem;	 
    }
}
.SiteTitle a,
.SiteTitle a:visited {
    color: var(--color-blue);
}
.SiteTitle a {
    background-color: var(--color-bg);
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: block;
}
.SiteTitle:hover a {
    color: var(--color-text);
}

/* vertical dynamic */
.Section {
    width: 100%;
    margin-bottom: 2rem;
}
.Section--blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.Section--grayDark {
    background-color: var(--color-gray-4);
    color: var(--color-white);
}

.Section--blue a,
.Section--blue a:visited {
    color: var(--color-white);
}

.Section--green {
    background-color: var(--color-green);
    color: var(--color-white);
}
.Section--green a,
.Section--green a:visited {
    color: var(--color-white);
}

.Section--green .Grid-item a:hover,
.Section--blue .Grid-item a:hover {
    border-color: var(--color-white);
}

.Section--gray {
    background-color: var(--color-gray-2);
    color: var(--color-white);
}
.Section--gray a,
.Section--gray a:visited {
    color: var(--color-white);
}

.Section--gray .Grid-item a:hover,
.Section--blue .Grid-item a:hover {
    border-color: var(--color-white);
}

.Section--100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Section-grow {
    flex-grow: 1;
}
.Section-title {
    margin-bottom: 4rem;
}

/* horizontal dynamic */
.Container {
    max-width: 70rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.Container--small {
    max-width: 40rem;
}
.Container.Container--full {
    max-width: none;
}


/* special layouts */
.Layout {
    width: 100%;
}
.Layout--home .Section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.Section:first-child {
    padding-top: 4rem;
}
.Section:last-child {
    margin-bottom: 0;
}


/* address */

address {
    font-size: 1.5rem;
}

address h1 {
    margin-bottom: 0;
}

address .Grid-item a {
    color: var(--color-white);
    padding: 0;
    border: 0;
    transition: none;
    display: inline;
    text-decoration: underline;
}

address .Grid-item a:hover {
    color: var(--color-blue);
}


/* site footer */
.SiteFooter {
    margin-top: 4rem;
}

.SiteFooter .Section:last-child {
    padding-bottom: 2rem;
}
