.SiteNav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.SiteNav--menu {
    flex-direction: column;
    align-items: center;
}

.SiteMenu {
    position: fixed;
    top: 0.8rem;
    right: 0.3rem;
    z-index: 1;
}
@media (min-width: 50rem) {
    .SiteMenu {
	top: 0.8rem;
	right: 0.8rem;
    }
}

.SiteMenu .SiteMenu-button a {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-gray-2);
    transition: background-color 400ms ease-in-out;
}

@media (min-width: 40rem) {
    .SiteMenu .SiteMenu-button a {
	font-size: 1.5rem;
	padding: 0.3rem 1rem;
	/* border: 0.2rem solid var(--color-blue); */
	background-color: var(--color-gray-2);
    }
}

.SiteMenu .SiteMenu-button a:hover,
.SiteMenu .SiteMenu-button[active] a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}
.SiteMenu .SiteMenu-button[active] a {
    background-color: var(--color-green);
    color: var(--color-white);
    position: relative;
}
.SiteMenu .SiteMenu-button[active] a::before {
    content: '←';
    position: absolute;
    top: 0.2rem;
    left: -0.8rem;
    transition: left 200ms ease-in-out;
}
.SiteMenu .SiteMenu-button[active] a:hover::before {
    left: -1.5rem;
}

.SiteNav--menu a {
    font-size: 1.3rem;
    transition: background-color 200ms ease-in-out;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.SiteNav--menu a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

@media (min-width: 40rem) {
    .SiteNav--menu a {
	font-size: 2rem;
    }
}

.SiteNav nav-item a {
    padding: var(--padding);
 }

nav-item {
    display: flex;
}
