.Processes--horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Process {
    display: flex;
    position: relative;
}
.Processes--horizontal .Process {
    flex-direction: column;
}

.Processes--vertical .Process {
    flex-direction: column;
    padding-bottom: 2rem;
    border-left-color: var(--color-blue);
    border-left-width: 0.2rem;
    border-left-style: solid;

    padding-left: 1.5rem;
    margin-left: 0.5rem;
}
@media (min-width: 40rem) {
    .Processes--vertical .Process {
	padding-left: 2rem;
	margin-left: 2.5rem;
    }
}

.Processes--horizontal .Process {
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top-color: var(--color-blue);
    border-top-width: 0.2rem;
    border-top-style: solid;
}

.Process-number {
    font-size: 1.5rem;
    color: var(--color-blue);
    font-weight: bold;
}
@media (min-width: 40rem) {
    .Processes--vertical .Process-number {
	position: absolute;
	left: -3rem;
	top: -0.1rem;
    }
}
.Processes--horizontal .Process-number {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.Process::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-bg);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: var(--color-blue);
    border-width: 0.2rem;
    border-style: solid;
}
.Processes--vertical .Process::before {
    left: -1.1rem;
    top: 0;
}
.Processes--horizontal .Process::before {
    top: -1.1rem;
    left: 50%;
    transform: translateX(-50%);
}

.Process-title {
    font-size: 1.5rem;
}
