@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&display=swap');

@import url('./utilities.css');
@import url('./layout.css');
@import url('./nav.css');
@import url('./process.css');
@import url('./grid.css');
@import url('./image-gallery.css');

:root {
    --color-blue: rgb(0,74,150);
    --color-white: rgb(255,255,255);
    --color-blue-light: rgb(228,241,251);
    --color-blue-gray: rgb(199,208,225);
    --color-gray-gark: rgb(63,78,91);
    --color-blue-black: rgb(13,21,42);
    --color-gray-1: rgb(232,232,232);
    --color-gray-2: rgb(211,211,211);
    --color-gray-3: rgb(169,169,169);
    --color-gray-4: rgb(123,123,123);
    --color-organge: rgb(244,152,25);
    --color-red: rgb(234,78,63);
    --color-green: rgb(117,192,152);

    
    --color-text: var(--color-blue-black);
    --color-bg: var(--color-gray-1);

    --padding: 1rem;
}

html {
    font-size: 16px;
    line-height: 1.4;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Barlow', sans-serif;
}
@media (min-width: 40rem) {
    html {
	font-size: 18px;
    }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


html,
body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}


@media (min-width: 50rem) {
    h1 {
	font-size: 2.4rem;
    }
    h2 {
	font-size: 2.1rem;
    }
    h3 {
	font-size: 1.7rem;
    }
}

figure {
    margin: 0;
}

a,
a:visited {
    color: var(--color-text);
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}


.Card.Card--selbstmontage {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--color-gray-2);
}

.Card-title h2 {
    font-size: 1.5rem;
}

.Card-image + .Card-title {
    margin-top: 1.5rem;
}

@media (min-width: 40rem) {
    .Card.Card--selbstmontage {
	padding: 2rem;
	margin: 2rem;
    }    
}
