<article class="Card Card--selbstmontage">
    <header class="Card-title" center>
	<div class="Card-option">
	    Option {{ .Params.number }}
	</div>
	<h3>
	    {{ .Title }}
	</h3>
    </header>
    <main class="Card-content">
	{{ .Content }}
    </main>
</article>
