<address>
    <div class="Grid Grid--3 Grid--top">
	<div class="Grid-item">
	    <strong>Bootsbaumeisterbetrieb</strong><br/>
	    {{$.Site.Data.kontakt.bootsbaumeisterbetrieb}}
	</div>
	<div class="Grid-item">
	    <strong>{{$.Site.Data.kontakt.company_name}}</strong>
	    {{$.Site.Data.kontakt.address_street_name}} {{$.Site.Data.kontakt.address_street_number}}<br/>
	    {{$.Site.Data.kontakt.address_city}}<br/>
	    {{$.Site.Data.kontakt.address_postal_code}}<br/>
	    {{$.Site.Data.kontakt.address_land}}<br/>
	</div>
	<div class="Grid-item">
	    <a href="{{$.Site.Data.kontakt.company_website}}">{{$.Site.Data.kontakt.company_website}}</a><br/>
	    <a href="mailto:{{$.Site.Data.kontakt.company_email}}">{{$.Site.Data.kontakt.company_email}}</a><br/>
	    <a href="tel:{{$.Site.Data.kontakt.company_phone}}">{{$.Site.Data.kontakt.company_phone}}</a><br/>
	</div>
    </div>
</address>
