{{ range sort . ".Params.number" "asc" }}
<article class="Card">
    <a href="{{ .Permalink }}">
	{{ if .Params.image }}
	<figure class="Card-image">
	    <img src="{{ .Params.image | absURL }}"/>
	</figure>
	{{ end }}
	<header class="Card-title" center>
	    <h3>
		{{ .Title }}
	    </h3>
	</header>
    </a>
</article>
{{ end }}
