{{ range sort . ".Params.number" "asc" }}
<div class="Grid-item">
    <article class="Card">
	<a href="{{ .Permalink }}">
	    <header class="Card-title" center>
		<h3>
		    {{ .Title }}
		</h3>
	    </header>
	    {{ if .Params.image }}
	    <figure class="Card-image">
		<img src="{{ .Params.image | absURL }}"/>
	    </figure>
	    {{ end }}
	</a>
    </article>
</div>
{{ end }}
