<!-- generates a list of images, and their caption -->

{{range $index, $img := . }}

{{ if $img.image }}
<figure {{ with $img.style }}{{ . }}{{ end }}>
    <img src="{{$img.image | relURL }}" alt="{{$img.caption}}"/>
    {{ with $img.caption }}
    <figcaption>{{ . }}</figcaption>
    {{ end }}
</figure>
{{ else }}
{{ with $img.caption }}
<blockquote>{{ . }}</blockquote>
{{ end }}
{{ end }}

{{end}}
