<!-- loop through all pages to make a process list -->
{{ range sort . ".Params.number" "asc" }}
<article class="Process">
    <span class="Process-number">
	{{.Params.number}}
    </span>
    <header class="Process-title">
	{{ .Title }}
    </header>
    <main class="Process-body">
	{{ .Content }}
    </main>
</article>
{{ end }}
