{{ define "main" }}

<section class="Section Container">
    <h1 center class="Section-title">{{ .Title }}</h1>
    <div>
	{{ .Content }}
    </div>
</section>

<section class="Section Container Processes Processes--vertical">
    {{ partial "process-detail" .Pages }}
</section>

{{ end }}
