{{ define "main" }}

<section class="Section Container Grid Grid--4">
    {{ range sort .Pages ".Params.number" "asc" }}
    <div class="Grid-item">
	<article class="Card">
	    <a href="{{ .Permalink }}">
		<header class="Card-title" center>
		    <h2>
			{{ .Title }}
		    </h2>
		</header>
		{{ if .Params.image }}
		<figure class="Card-image">
		    <img src="{{ .Params.image | absURL }}"/>
		</figure>
		{{ end }}
	    </a>
	</article>
    </div>
    {{ end }}
</section>

{{ end }}
