{{ define "main" }}

<section class="Section Container Processes Processes--horizontal">
    {{ range sort .Pages ".Params.number" "asc" }}
    <article class="Process">
	<span class="Process-number">
	    {{.Params.number}}
	</span>
	<header class="Process-title">
	    {{ .Title }}
	</header>
	<main class="Process-body">
	    {{ .Content }}
	</main>
	{{ if .Params.gallery }}
	<image-gallery class="Process-gallery">
	    {{ partial "image-gallery" .Params.gallery }}
	</image-gallery>
	{{ end }}
    </article>
    {{ end }}
</section>

{{ end }}
