{{ define "main" }}

<section class="Section">
    <div class="Container">
	<h2 center class="Section-title">Technik Fur Die Langfahrtyacht</h2>
    </div>

    <div class="Container Container--small">
	{{ .Content }}
    </div>
    
    <div class="Container Container--full">
	<card-gallery class="CardGallery CardGallery--home">
	    {{ partial "gallery-card" .Pages }}
	</card-gallery>
    </div>
</section>

{{ end }}
