{{ define "main" }}

<main class="Layout Layout--home">

    {{ $gallery := $.Site.Data.homepage.gallery }}
    {{ if and $.Site.Data.homepage $gallery ( len $gallery) }}
    <section class="Section Section--100">
	<image-gallery class="ImageGallery ImageGallery--home">
	    {{ partial "image-gallery" $gallery }}
	</image-gallery>
    </section>
    {{ end }}

    {{ $introTitle := $.Site.Data.homepage.title }}
    {{ $introText := $.Site.Data.homepage.content }}
    {{ if $introTitle }}
    <section class="Section Container Container--small">
	<h2 center>{{ $introTitle }}</h2>
	{{ with $introText }}
	<div center>
	    {{ . }}
	</div>
	{{ end }}
    </section>
    {{ end }}

    {{ $pagesTeakdecks := (where .Site.RegularPages "Section" "teakdecks") }}
    {{ with $pagesTeakdecks }}
    <section class="Section Section--blue Section--100 Section--titleUp">
	<div class="Container Container--full">
	    <h2 class="Section-title">Teakdeck Anwendungen</h2>
	</div>

	<div class="Section-grow Grid Grid--4">
	    {{ partial "grid-card-image" $pagesTeakdecks }}
	</div>
    </section>
    {{ end }}

    {{ $pagesHerstellungsprozess := (where .Site.RegularPages "Section" "herstellungsprozess") }}
    {{ with $pagesHerstellungsprozess }}
    <section class="Section">
	<h2 center class="Section-title">Herstellungsprozess</h2>
	<div class="Container Container--small Processes Processes--vertical">
	    {{ partial "process" . }}
	</div>
    </section>
    {{ end }}

    {{ $pagesInterieur := (where .Site.RegularPages "Section" "interieur-wohnraum") }}
    {{ with $pagesInterieur }}
    <section class="Section Section--green Section--100 Section--titleUp">
	<div class="Container Container--full">
	    <h2 class="Section-title">Interieur und Wohnraum</h2>
	</div>

	<div class="Section-grow Grid Grid--4">
	    {{ partial "grid-card-image" $pagesInterieur }}
	</div>
    </section>
    {{ end }}

    {{ $technikLangfahrtyacht := (where .Site.RegularPages "Section" "technik-fur-die-langfahrtyacht") }}
    {{ with $technikLangfahrtyacht }}
    <section class="Section">
	<h2 center class="Section-title">Technik Fur Die Langfahrtyacht</h2>
	<div class="Grid Grid--4">
	    <card-gallery class="CardGallery CardGallery--home">
		{{ partial "gallery-card" . }}
	    </card-gallery>
	</div>
    </section>
    {{ end }}

    {{ $pagesProcessablauf := (where .Site.RegularPages "Section" "prozessablauf") }}
    {{ with $pagesProcessablauf }}
    <section class="Section Section--100 Container">
	<h2 center class="Setion-title">Prozessablauf</h2>
	<div class="Processes Processes--horizontal">
	    {{ partial "process" . }}
	</div>
    </section>
    {{ end }}
</main>
{{ end }}
